{
  "root": false,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "no-console": "warn",
    "no-alert": "warn",
    "eqeqeq": "error",
    "prefer-const": "error",
    "no-use-before-define": "error"
  }
}
